.container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px;
    font-family: Arial, sans-serif;
}

h3 {
    text-align: center;
    margin-bottom: 30px; 
    font-size: 1.6em;
    color: #501B1D;
}

p {
    text-align: start;
    margin-bottom: 10px;
}

form {
    width: 100%;
    max-width: 500px; 
    background-color:  #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #444;
}

form input,
form select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
}

form button {
    padding: 10px 20px;
    background-color:  #64485c;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color:#db6c84;
}

form input[type="text"]:focus,
form select:focus {
    outline: none;
    border-color: #64485c;
    box-shadow: 0 0 5px rgba(100, 72, 92, 0.8);
}


.user-requests {
    margin-top: 30px;
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
}
