
.slideout-sidebar {
    position: fixed;
    top: 0;
    left: -210px;
    width: 255px;
    height: 100%;
    background-color: #2C3E50;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.slideout-sidebar.open {
    left: 0;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.sidebar-nav a:hover {
   color: #1ABC9C;
}

.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1100;
}

.close-menu {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.signout-btn {
    background: #E74C3C;
    color: white;
    border:  2px solid #ECF0F1;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.signout-btn:hover {
    background-color: #C0392B;
    transform: scale(1.05);
}

