/*for movies and tv shows components*/
.results-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    margin-bottom: 10px;
    text-align: center;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

.results-card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between; 
    transition: transform 0.2s ease-in-out;
    padding: 10px;
    margin-top: 20px;
    width: 100px;
    min-width: 250px;
    height: 370px; 
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.results-card:hover {
    transform: scale(1.05);
}

.results-card .poster {
    width: 100%;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-card .poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.results-card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    margin-top: 10px;
    flex-grow: 1; 
}

.results-card .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    word-wrap: break-word;
    max-width: 220px;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.controls button {
    margin-top: auto;
    padding: 7px;
    background-color:  #64485C;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}

.controls button:hover {
    background-color: #573d4e; 
}

.add-page {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    height: 100vh;
}

.input-wrapper {
    align-self: flex-end;
    width: 250px;
}

.input-wrapper input {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*for watchlist and already watched pages*/
.watchlist-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    text-align: center;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.watchlist-title {
    text-align: left;
    margin-top: 70px;
    padding: 10px;
}

.num-of-content {
    display: flex;
    align-self: flex-end;
    padding: 5px 15px;
    font-weight: 600;
}

/*for trending*/
.home-page {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

/*for details*/
.details-page {
    margin: 50px auto;
    padding: 25px;
    max-width: 800px;
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.details-page h1 {
    font-size: 32px;
    font-weight: bold;
    color: #64485C; 
    text-align: center;
    margin-bottom: 25px;
    text-wrap: wrap;
}

.details-page p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 10px 0;
    text-align: justify;
}

.details-page strong {
    color: black; 
}

.details-page img {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



